
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* used variables */
:root{
    --bg-prim: rgb(21, 34, 51);
    --bg-nav: rgba(34,34,34,0.6);
    --txt-prim: silver;
    --title-txt: rgb(100, 255, 218);
    --txt-title: purple;
    --txt-grad: linear-gradient( 135deg, rgb(10,255,218) 0%, rgb(89, 116, 175) 100% );
}

/* global styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    list-style: none;
    text-decoration: none; 
}
h1,h2,h3,p,a,li{
    color: var(--txt-prim);
    font-family: "Montserrat", sans-serif;
    padding: 0.5rem 2rem;
}
li{
    text-align: center;
}
i{
    margin: 0;
    padding: 0;
}
.icons a{
    padding: 0.2rem;
}
a:hover{
    color: var(--title-txt);
    transition: all 0.5s ease-in-out;
}
body{
    width: 100%;
    background: var(--bg-prim);
}
.title {
    color: var(--title-txt);
    font-size: 1rem;
}
.subtitle{
    font-size: 2rem;
}
.description{
    font-size: 0.7rem;
}
.detail{
    font-size: 0.6rem;
}
.button{
    border: 0.1em solid var(--txt-prim);
    font-size: 0.6rem;
    border-radius: 15px;
}
.button:hover{
    border: 0.1em solid var(--title-txt);
    transition: all 0.5s ease-in-out;
}

/* Menu buttton creation and animation */
.menu-btn{
    cursor: pointer;
    z-index: 9999;
    position: fixed;
    top: 1rem;
    right: 1.6rem;}
    .menu-btn__burger, .menu-btn__burger::before, .menu-btn__burger::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background: var(--txt-grad);
        border-radius: 5px;
        transition: all .5s ease-out;}
    .menu-btn__burger::before{
        transform: translateY(-8px);}
    .menu-btn__burger::after{
        transform: translateY(8px);}
    .menu-btn.open .menu-btn__burger{
        transform: rotate(180deg);
        background: transparent;}
    .menu-btn.open .menu-btn__burger::before{
        transform: rotate(45deg);}
    .menu-btn.open .menu-btn__burger::after{
        transform: rotate(-45deg);}

/* navbar styling */
.navbar{
    width: 10rem;
    height: 100vh;
    background: var(--bg-nav);
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 650ms ease-in-out;}
        .navitem{
            margin: 1.2rem 0;}
    .navbar.open{
        right: 0;}

/* page styling */
.page{
    height: 100vh;
    padding-bottom: 1rem;
}
    .landing{
        padding-top: 6rem;
    }
    .about{
        padding-top: 2rem;
    }
    .projects{

    }
footer{
    text-align: center;
    margin-bottom: 1rem;
}
footer a, footer p, footer i{
    font-size: 0.5rem;
    color: var(--title-txt);
}
